@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --header-height: 3rem;

  --hue-color: 190;

  --text-color: rgb(228, 227, 227);
  --text-color-light: rgb(187, 187, 187);
  --body-color: rgba(15, 15, 15, 1);
  --white-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 400;
  --font-semi-bold: 500;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;

  --img-transition: ;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.section__title-center {
  text-align: center;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--white-color);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.logo {
  font-size: var(--h1-font-size);
}

.logo span {
  color: rgb(246, 91, 91);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  /* color: var(--title-color); */
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--text-color);
}

.active-link {
  position: relative;
  color: var(--text-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}

.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.welcome__container {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.welcome__title {
  font-size: 1.5em;
}

.welcome__availability {
  font-size: 1em;
}

.welcome__button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  font-size: 0.85em;
  z-index: 20;
  color: #ffffff;
  background-color: hsl(216, 34%, 61%, 20%);
  border: solid 1px hsl(0, 0%, 100%, 15%);
}

.about__info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.about__text {
  padding: 1rem;
}

.about__text h3 {
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about__text p {
  line-height: 1.75rem;
  overflow-wrap: break-word;
  inline-size: 100%;
  text-align: center;
}

.about__images {
  position: relative;
}

.about__images .first__image {
  height: 60%;
  width: 100%;
}

.about__images .second__image {
  height: 50%;
  width: 60%;
  position: absolute;
  top: 50px;
  left: -30px;
}

.services__images {
  display: grid;
  justify-content: center;
  grid-template-columns: 290px;
  grid-template-rows: 450px 450px;
  column-gap: 10px;
  row-gap: 10px;
}

.img__block {
  position: relative;
}

.img__block img {
  height: 100%;
  width: 100%;
}

.img__block .text__box {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255, 30%);
  color: rgb(0, 0, 0);
}

.footer__section {
  padding: 5.5rem 0 1rem;
}

.footer__copy {
  margin: 7rem 0 0;
  text-align: center;
}

.footer__content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.scroll-header {
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, 0.3);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .container {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .nav {
    height: calc(3rem + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .about__images .first__image {
    height: 40%;
    width: 100%;
  }

  .about__images .second__image {
    height: 40%;
    width: 40%;
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .services__images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 450px 450px;
    column-gap: 20px;
    row-gap: 20px;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue-color), 8%, 60%);
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .welcome__container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
    /* justify-content: center; */
  }

  .welcome__title {
    font-size: 2em;
  }

  .welcome__availability {
    font-size: 1.2em;
  }

  .welcome__button {
    width: 190px;
    height: 65px;
    border-radius: 5px;
    font-size: 1.1em;
    z-index: 20;
    color: #ffffff;
    background-color: rgb(122, 149, 190, 20%);
  }

  .about__section {
    margin-top: 4rem;
  }

  .about__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__text {
    padding: 1rem;
  }

  .about__text h3 {
    font-size: 1.5em;
    margin-bottom: 2rem;
  }

  .about__text p {
    line-height: 1.75rem;
    overflow-wrap: break-word;
    inline-size: 275px;
  }

  .about__images {
    position: relative;
  }

  .about__images .first__image {
    height: 315px;
    width: 575px;
  }

  .about__images .second__image {
    height: 150px;
    width: 250px;
    position: absolute;
    top: 90px;
    left: -100px;
  }

  .services__images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: 450px 450px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .services__images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: 450px 450px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .footer__section {
    padding: 5.5rem 0 1rem;
  }

  .footer__copy {
    margin: 7rem 0 2rem;
    text-align: center;
  }

  .footer__content {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
